
.grid-container {
    margin:auto;
width:1400px;
display:grid;
grid-template-columns: repeat(3, auto);
row-gap: 10px;
column-gap: 10px;
background-color: aquamarine;
}

.grid-item {
    background-color: blue;
}

#item1, #item5 {
    width: 100%;
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 4;
}

#item3 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#item2, #item3 {
    height:450px;
}

 #item4 {
    width: 100%;
    height: 200px;
    grid-column-start: 1;
    grid-column-end: 4;
}