
body {
    background-image: url(https://img.freepik.com/free-photo/condiments-prepare-italian-pasta_1220-429.jpg?w=1380&t=st=1675654205~exp=1675654805~hmac=83c5c00fe28ac4dba5f14cf47dc6745b139535ebe968be131a355c2e9c4a06e5);
    padding: 10px;
    margin-left: 235px;
    margin-right: 235px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}


.grid-container {
    border-radius: 15px;
    margin:auto;
    width:1400px;
    display:grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 5px;
    column-gap: 10px;
    opacity: 0.8;
    background-color: rgb(252, 252, 252);
    }


.grid-item {
    overflow: auto;
    background-color: white;
    }
    
#item1 { 
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 180px;
    background-image: url(https://t4.ftcdn.net/jpg/02/44/71/07/360_F_244710705_kJbRGNfdwXq4zfikaaXE77iQCAHsQjt0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
       
    }
   
#item2 {
    height:450px;
    width: 450px;
    overflow: hidden;
    margin-left: 6px;
    background-color: white;
    margin-bottom: 5px;
    }

#item3 {
    grid-column-start: 2;
    grid-column-end: 4;
    height:450px;
    width: 934px;
    background-color: rgb(255, 255, 255);
    }
    
#item4 {
    width: 100%;
    height: 200px;
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(252, 252, 252);
    margin-bottom: 0px;
    
   
    }
  
#item5 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(62,58,58);
    padding-top: 20px;
    border-radius: 0 0 15px 15px;
   
       
    }
    
    #mealImg {
        max-width:100%;
        max-height:100%;
        border-radius: 20px;
        padding-top: 5px;
        
    }

    #directions {
        font-size:20px;
        line-height:30px;
        font-weight: lighter;
        font-style: italic;
        font-family: 'Rock Salt', cursive;
        padding: 10px;
    }
    
    #directions :first-letter{
        text-transform: capitalize;
    }
    
    #mealName {
        display: flex;
        justify-content: center;
        font-family:'Rock Salt', cursive;
        font-size: 30px;
        margin: 0px;
        color:black;
    }

    #mealOrigin {
        font-family:'Rock Salt', cursive;
        display: flex;
        justify-content: center;
        font-size: 25px;
         margin: 0px;
         padding-top: 0px;
         color:tomato;
    }
    .measure {
        display:flex;
        justify-content: center;
        font-size: 15px;
        font-family: 'Rock Salt', cursive;
        color: tomato;
        margin:0px;
    }

    .ingredient {
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-family: 'Rock Salt', cursive;
        font-weight: bold;
        margin:0px;
    }

    #headerText {
       margin-left: 650px;
       margin-top: 26px;
       font-size: 120px;
       color: rgb(216, 222, 220); 
       font-family: 'Arizonia', cursive;
       opacity: 0.4;
    }

    #searchButton {
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 15px;
        height:30px;
        width:100px;
        background-color: black;
        color:tomato;
    }

    #searchButton1 {
        margin-left: 30px;
        margin-top: 10px;
        margin-right: 50px;
        border-radius: 15px;
        height:30px;
        width:100px;
        background-color: black;
        color:tomato;
    }

    #searchButton2 {
        margin-right: 150px;
        margin-top: 10px;
        margin-left: 30px;
        border-radius: 15px;
        height:30px;
        width:100px;
        background-color: black;
        color:tomato;
        
    }
        
    .heading4 {

        margin-left: 180px;
        margin-top: 3px;
        font-size: 30px;
        font-family: 'Caveat', cursive;
        color:tomato; 
    }
li  img{
    width: 200px;
    height:200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

li {
    list-style:none;
    display: inline-block;
    margin: 10px;
    margin-bottom: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    
    
    

}

.div1{
    display:flex;
    width: 200px;
    height:50px;
    justify-content: center;
    
    
}


#searchInput {
    height: 25px;
    border-radius: 10px;
    margin-left: 50px;
   

} 

#searchInput1 {
    height: 25px;
    border-radius: 10px;
} 


.paragraph {
    display:none;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    margin-top: 140px;
    margin-left:100px;
    width:700px;
    font-style: italic;
    
}